<% include top %>

<div id='loginContainer' class='centered'>
	<div>
		<form id='login' method='POST'>
			<p>Log in to check your Flex Points, Meal Credits, PawPrints and BearBucks balances</p>
			<label for='username'>Brown online username</label>
			<input id='username' name='username' placeholder='Brown online username' type='text'/>
			<label for='password'>Password</label>
			<input id='password' name='password' type='password' placeholder='Password'/>
			<input type='submit' value='Check Balances'/>
		</form>
	</div>
</div>

<% include bottom %>
